HTTP handling should implement PSR-7

The HTTP request and HTTP response handling should be refactored to implement the [PSR-7](https://www.php-fig.org/psr/psr-7/) standard.

From the PSR-7 standard:
> This document describes common interfaces for representing HTTP messages as described in [RFC 7230](http://tools.ietf.org/html/rfc7230) and [RFC 7231](http://tools.ietf.org/html/rfc7231), and URIs for use with HTTP messages as described in [RFC 3986](http://tools.ietf.org/html/rfc3986).

Maybe the refactoring can be done using https://packagist.org/packages/guzzlehttp/psr7.

Or [Symfony HttpClient](https://symfony.com/components/HttpClient) or [Nyholm PSR-7](https://github.com/Nyholm/psr7) or [Zend Diactoros](https://docs.zendframework.com/zend-diactoros/).

https://github.com/Nyholm/psr7 seems to be the best one

As an implementation detail for the controller actions, I like the [Slim Framework](http://www.slimframework.com/) way. The method receives a Request and a Response and returns a Response.

```php
$app->get('/hello/{name}', function (Request $request, Response $response, array $args) {
    $name = $args['name'];
    $response->getBody()->write("Hello, $name");
    return $response;
});
```

Laravel also works this way, I love it each day
I will probably try to work on this to be able to finish #15247 because some of our code relies on exits and sending responses