HTTP URLs/Links instead of HTTPS

The below URLs/Links support HTTPS but use HTTP:
https://github.com/phpmyadmin/phpmyadmin/blob/master/libraries/Table.php#L1272
>// see : http://dev.mysql.com/doc/refman/5.7/en/identifiers.html

https://raw.githubusercontent.com/phpmyadmin/phpmyadmin/master/doc/faq.rst
>innodb_strict_mode \<http://dev.mysql.com/doc/refman/5.7/en/innodb-parameters.html#sysvar_innodb_strict_mode> would define if this would be reported as a warning or as an error.

https://github.com/phpmyadmin/phpmyadmin/blob/master/libraries/Header.php#L608
>// see http://www.adobe.com/devnet/articles/crossdomain_policy_file_spec.html


also the usage of:
.. seealso:: :rfc:\`2616\`
.. seealso:: :rfc:\`1867\`
.. seealso:: :rfc:\`1952\`

generate HTTP link (phpMyAdmin-4.6.5.1-all-languages\doc\html\[faq|glossary].html):
```
<a class="rfc reference external" href="http://tools.ietf.org/html/rfc2616.html"><strong>RFC 2616</strong></a>
<a class="rfc reference external" href="http://tools.ietf.org/html/rfc1867.html"><strong>RFC 1867</strong></a>
<a class="rfc reference external" href="http://tools.ietf.org/html/rfc1952.html"><strong>RFC 1952</strong></a>
```

because old version of sphinx is used (1.2.3) the newest version generate https links:
https://github.com/sphinx-doc/sphinx/blob/master/sphinx/environment/__init__.py#L66

Fixed the occurrences in the code, for the generated docs @ibennetch needs to use newer Sphinx to generate the docs on release time.

I have updated my Sphinx install to 1.4.6 and in a quick test this issue appears to be resolved there, so future builds/releases should incorporate the correct links.